<div class="border border-success"  style="padding:20px">

  <div class="top row">
    <div class="col-md-4">
      <h5>David</h5>
      <h5>9671324421</h5>
      <h5>david@gmail.com</h5>
    </div>
    <div class="col-md-4">
    </div>
    <div class="float-right col-md-4">
      <h5>Total BV:55123</h5>
      <h5>Total points:526</h5>
    </div>
  </div>
  <div class="invoice" *ngIf='!invoiceGenerate'>
  <!-- Table -->
  <div class="">
    <table class="table" >
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Rate</th>
          <th scope="col">total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of invoice;let i = index; let lastEl = last; let firstEl = first">
          <td>{{i+1}}</td>
          <td>
            <select [(ngModel)]='invoice[i].item' disabled>
                <option *ngFor="let item of items" value={{item}}>
                    {{item}}
                </option>
            </select>
            <!-- <input class="discount" type="number" min="0" [(ngModel)]='discounts[i].minAmount'/> -->
          </td>
          <td>
            <input class="quantity" readonly type="number" min="0" [(ngModel)]='invoice[i].quantity'/>
          </td>
          <td>
            <input class="rate" readonly type="number" min="0" [(ngModel)]='invoice[i].rate'/>
          </td>
          <td>
            <input readonly value="{{invoice[i].rate  * invoice[i].quantity | currency:'RS '}}">
          </td>
          <td *ngIf='!firstEl'>
            <button type="button" disabled  (click)='deleteRow(i)' class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-minus">-</span>
            </button>
          </td>
          <td *ngIf='lastEl'>
            <button type="button" disabled (click)='addRow(i)' class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-plus">+</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div><hr>
  <div class="discount">
    <h5>Sub-Total: 7350 </h5>
    <h5>Discount: <input type="number" readonly min="0" max="50"  name="discount" value="20">%</h5>
    <h5>Rewards: <input type="number" readonly min="0" max="500" name="reward" value="200"></h5>
    <h5>Total: 5880 </h5>
  </div>
  <div class="">
    <button type="button" name="button" disabled class="btn btn-block btn-primary" (click)="submitInvoice()">Submit</button>
  </div>
</div>

</div>
