.dropdown:hover>.dropdown-menu {
  display: block;
}
.profileView{
  margin-left: 1000px;
}
.drpBtn{
  width: 150px;
}
.myInfoDetails{
width:200px;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
