
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

  <div class="navbar-header">
        <a class="navbar-brand"><h2>SMyData</h2></a>
      </div>
  <div class="collapse navbar-collapse profileView" id="navbarSupportedContent ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <button type="button" name="button"> profile</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="dropdown-item" (click)='addNewBusiness();profile=true;showbusinessList = false;myInfo=invoice=payables=receivables=false' ><button class="btn btn-primary drpBtn"  type="button" name="button">Add New Business</button> </li>
          <li class="dropdown-item" (click)='showBuList();profile=true;showeditForm = showRegForm = myInfo=invoice=payables=receivables=false'><button class="btn btn-primary drpBtn" type="button" name="button">My Info</button></li>
          <li class="dropdown-item" (click)='myInfo =profile=true;showeditForm = showRegForm = showbusinessList=invoice=payables=receivables=false'><button class="btn btn-primary drpBtn" type="button" name="button">My Business Plan</button></li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" routerLink="/signIn"><button class="btn btn-primary drpBtn" type="button" name="button">Sign Out</button></li>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="border border-primary col-md-2" style="margin-top:75px">
    <nav class="nav flex-column">
    <span class="nav-link active font-weight-bold font-italic" (click)="sideNav('invoice');payables=false;receivables=false">Invoice</span>
    <span class="nav-link active font-weight-bold font-italic" (click)="sideNav('payables');invoice=false;receivables=false">Payables</span>
    <span class="nav-link active font-weight-bold font-italic" (click)="sideNav('receivables');payables=false;invoice=false">Receivables</span>
    <a class="nav-link disabled" href="#">Sales Report</a>
  </nav>
  </div>
<div class="col-md-10" *ngIf='profile'>
  <div  style="margin-top:75px" *ngIf='myInfo'>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"(click)='myRewardsPage=true; myDiscountsPage=false;myInvoicePage=false' role="tab" aria-controls="nav-home" aria-selected="true">Rewards</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"(click)='myDiscountsPage=true; myRewardsPage=false;myInvoicePage = false' role="tab" aria-controls="nav-profile" aria-selected="false">Discounts</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"(click)='myDiscountsPage=false; myRewardsPage=false;myInvoicePage = true' role="tab" aria-controls="nav-contact" aria-selected="false">Invoice</a>
  </div>
  </nav>
   <br>

   <div class="rewards">
     <app-rewards *ngIf='myRewardsPage'  id="rewards"></app-rewards>
   </div>
   <div class="discounts">
     <app-discounts *ngIf='myDiscountsPage'  id="discounts"></app-discounts>
   </div>
   <div class="invoice">
     <app-invoice *ngIf='myInvoicePage'  id="invoice"></app-invoice>
   </div>
</div>

<div   style="margin-top:75px" *ngIf ='showbusinessList'>
  <h2>Business List</h2>
<ul class="list-group" >
  <li class="list-group-item" *ngFor="let item of businessList" (click)='viewBusinessDetails(item)'>{{item.companyName}}</li>
</ul>
</div>

<div  style="margin-top:75px"  *ngIf='showRegForm' >
  <app-signup id="formData"></app-signup>
</div>
<div  style="margin-top:75px"  *ngIf='showeditForm'>
  <app-signup  id="formData"></app-signup>
</div>

</div>
<!-- Invoice -->
<div class="col-md-10" style="margin-top:75px" *ngIf='invoice'>
  <app-select-invoice   id="formData"></app-select-invoice>
</div>
<!-- Payables -->
<div class="col-md-10" style="margin-top:75px" *ngIf='payables'>
  <app-payables  id="formData"></app-payables>
</div>
<!-- Receivables -->
<div class="col-md-10" style="margin-top:75px" *ngIf='receivables'>
  <app-receivables id="formData"></app-receivables>
</div>
</div>
