<div class="panel panel-info">
    <div class="panel-heading col-md-12">
      <h3 class="col-md-4">My Reward System</h3>
      <label class="switch col-md-2">
         <input type="checkbox" [(ngModel)]='rewards.enable'>
         <span class="slider round"></span>
       </label>
    </div>

     <div class="panel-body">
       <div class="">
       <dl>
          <dt class=""> <h5>1.Rewards points value</h5> </dt>
          <dd>
            <span>
              Rewards effective amount-<input class="rewardAmount" type="number" min="0" [(ngModel)]='rewards.effectiveAmount' />
              cash Value of <input class="rewardAmount" type="number" min="100" [(ngModel)]='rewards.cashValue' /> Rupees = <b>1 Reward</b>
            </span>
            <label class="switch">
               <input type="checkbox" [(ngModel)]='rewards.rewardPointEnable'>
               <span class="slider round"></span>
             </label>
            </dd>
            <br>
            <dt>
              Start Date: <input type="date"  [(ngModel)]='rewards.rewardStartDate'/>
              End Date:  <input type="date"  [(ngModel)]='rewards.rewardEndDate'/>
            </dt>

        </dl>
        </div>

        <hr>

        <div class="">
        <dl>
           <dt> <h5>2.Sign up Bonus Reward Points</h5> </dt>
           <dd>
             <span>
              New customer welcome points <input class="rewardAmount" type="number" min="0"  [(ngModel)]='rewards.bonusPoints' />
              </span>
              Start Date: <input type="date"  [(ngModel)]='rewards.bonusStartDate'/>
              End Date:  <input type="date"  [(ngModel)]='rewards.bonusEndDate'/>
              <label class="switch">
                 <input type="checkbox"  [(ngModel)]='rewards.bonusPointEnale'>
                 <span class="slider round"></span>
               </label>
             </dd>

             <dd>

             </dd>
         </dl>
       </div>
     </div>
<button class="btn btn-primary btn-block"type="button" (click)='saveReward(rewards)' name="button">Save</button>
</div>
