<div class="container border border-success">
<h1>
  Payables
</h1>
<div class="col-md-4 col-md-offset-4">
  <div class="input-group" *ngIf='!userEntry'>
  <input type="text" class="form-control" [(ngModel)]='mobile' placeholder="Enter Mobile Number" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="verifyUser()" type="button">Submit</button>
  </div>
</div>


<form *ngIf='!userEntry'>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label col-form-label-sm">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" name='username'  [(ngModel)]="userName" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control form-control-sm" name='mail' [(ngModel)]='email' placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" name='addr' [(ngModel)]='address'  placeholder="Address">
    </div>
  </div>
  <button class="btn btn-success" type="button" (click)='userDetails(userName,email,address)' name="button">Submit</button>
</form>

<!-- Payables Details -->
<div class="border border-success"  style="padding:30px;margin:30px" *ngIf = "model">
  <div class="row">
    <div class="col-sm">
      <h5>Name : {{name}}</h5>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm">
      <h5>Balance Amount To Pay : {{model.balAmount}}</h5>
    </div>
  </div>
  <div class="row">
    <!-- Table -->
      <table class="table table-bordered table-hover" >
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Invoice</th>
            <th scope="col">Amount</th>
            <th scope="col">PayOff</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of model.paybleReceivables;let i = index">
          <!-- *ngFor="let data of model;"> -->
            <td>{{i+1}}</td>
            <td>
              {{data.date}}
            </td>
            <td>
              {{data.invoiceNumber}}
            </td>
            <td>
              {{data.amount}}
            </td>
            <td style="width:250px">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="data.received">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)='payAmount(data)' type="button">PayOff</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div><hr>
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="addNewFun()" name="button">Add New Payable</button>
    <hr>
    <div class="input-group mb-3" *ngIf="addNew">
      <input type="text" class="form-control" placeholder="Invoice" [(ngModel)]="newPayable.invoiceNumber"><br><br>
      <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="newPayable.amount"><br><br>
      <input type="text" class="form-control" placeholder="Description" [(ngModel)]="newPayable.desc">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)='addPayable(newPayable)' type="button">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
