<h1>
  Payables
</h1>
<div class="col-md-4 container">
  <div class="input-group" *ngIf='!userEntry'>
  <input type="text" class="form-control" [(ngModel)]='mobile' placeholder="Enter Mobile Number" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="verifyUser()" type="button">Submit</button>
  </div>
</div>
<div class="" *ngIf='name'>
  <h3>Name:{{name}}</h3>
  <h3>Amount:{{amount}}</h3>
</div>

<form *ngIf='userEntry'>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label col-form-label-sm">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" name='username'  [(ngModel)]="userName" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control form-control-sm" name='mail' [(ngModel)]='email' placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" name='addr' [(ngModel)]='address'  placeholder="Address">
    </div>
  </div>
  <button class="btn btn-success" type="button" (click)='userDetails(userName,email,address)' name="button">Submit</button>
</form>



</div>
