
<div class="row" style="padding-top:10px">
  <div class="border border-primary col-md-2" >
    <nav class="nav flex-column">
    <h3 class="nav-link active font-weight-bold font-italic" routerLink="/userData/invoice" >Invoice</h3>
    <h3 class="nav-link active font-weight-bold font-italic" routerLink="/userData/payables">Payables</h3>
    <h3 class="nav-link active font-weight-bold font-italic" routerLink="/userData/receivables">Receivables</h3>
    <h3 class="nav-link active font-weight-bold font-italic" routerLink="/userData/salesReport">Sales Report</h3>
    <h3 class="nav-link active font-weight-bold font-italic" routerLink="/userData/raiseTicket">Raise Ticket</h3>
  </nav>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
